# --- Dados e Pesos ---
data/
weights/
assets/

# --- Python & Cache (O que você pediu) ---
__pycache__/
*.pyc
.ipynb_checkpoints/
face_validation_cache/
landmark_cache/

# --- Ambientes Virtuais (Essencial para não quebrar o build) ---
venv/
.venv/
env/

# --- Segurança (CRÍTICO) ---
.env
.env.local
.env.*

# --- Git & Docker ---
.git/
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
README.md