# Ignorar dados e pesos (grandes demais)
data/
weights/*
assets/

# Python cache
__pycache__/
face_validation_cache/
landmark_cache/
*.pyc
.ipynb_checkpoints/
landmark_cache/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore