# --- Pastas do Projeto (Cache e Dados) ---
face_validation_cache/
landmark_cache/
data/
weights/
assets/
assets/*

# --- Segurança e Ambientes (CRÍTICO) ---
.env
.venv/
venv/
env/

# --- Python Geral ---
__pycache__/
*.pyc
.ipynb_checkpoints/
*.log
